* {
    max-width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: mulish;
    src: url('/static/fonts/Mulish/Mulish-VariableFont_wght.ttf');
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    max-width: 100vw;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center bottom;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #001C1C;
    color: white;
    position: relative;
    max-width: 100vw;
    padding-bottom: 20px;
}

h1 {
    color: var(--bg-bg-primary, #FAFAFA);
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.no-account {
    position: absolute;
    bottom: 0;
}

label {
    width: 325px;
    padding: 8px 0;
    margin-top: 8px;
}

a {
    color: #17AF78;
    text-decoration: none;
}

.forget-password {
    text-align: right;
    margin: 10px 0;
}

button {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #00CF83;
    border: 0;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
    box-shadow: 1px 2px 10px 7px rgba(0, 112, 99, 0.4);
}

label {
    max-width: 90%;
}

.input-ico {
    position: relative;
}

.input-ico a {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    height: 20px;
}

.styled {
    width: 312px;
    height: 18px;
    padding: 12px;
    background-color: transparent;
    border-radius: 8px;
    border: solid 1px #B5C9C9;
    color: #B5C9C9;
    max-width: calc(90vw - 13px);
}

.styled:focus-visible {
    outline: thick double #17AF78;
    border-color: transparent;
}

@media (min-width:480px) and (max-width:700px) {
    input {
        width: 40vw;
    }

    h1 {
        font-size: 2.2rem;
        margin: 5px 0;
    }

    button,
    label {
        margin: 0
    }
}

@media (max-width:480px) {
    main {
        grid-template-columns: 1fr;
    }

    img {
        display: none;
    }

    h1 {
        font-size: 2.2rem;
    }
}