.logo-box{
    display: flex;
    align-items: center;
    gap: 10px; 
    width: fit-content;
}
.logo h1{
    font-size: 32px;
    margin: 0;
    width: fit-content;
    font-weight: 800; 
}
.logo h3{
    font-size: 12px;
    margin: 0;
    font-weight: 300; 
    text-align: center;
}