@font-face {
    font-family: mulish;
    src: url('../fonts/Mulish/Mulish-VariableFont_wght.ttf');
  }
body{
    background: #001C1C; 
    color: white;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: Mulish; 
}
.logo-box{
    display: flex;
    align-items: center;
    gap: 10px; 
    width: fit-content;
}
.logo h1{
    font-size: 32px;
    margin: 0;
    width: fit-content;
    font-weight: 800; 
}
.logo h3{
    font-size: 12px;
    margin: 0;
    font-weight: 300; 
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.profile-box{
    align-self: center;
    display: flex;
    align-items: center;
    gap:5px
}
.profile-icon{
    display: inline-block;
    height: 25px;
}
main{
    max-width: 900px;
    padding: 0 10px;
    margin: 0 auto;
}
section{
    position: relative;
    margin-top: 15px;
}
.btn{
    border-radius: 8px;
    border: 1px solid #00CF83; 
    padding: 16px 24px; 
    background-color: transparent;
}
.btn:hover{
    cursor: pointer;
    background-color: #004949;
}
.card{
    border-radius: 8px;
    border: 1px solid rgba(116, 164, 164, 0.11);
    background: #002424; 
    text-align: center;
    margin-top: 20px;
}
.profile-icon:hover{
    color: gray;
}
.profile-icon:hover path{
    fill:gray
}
.back{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    
}
.styled{
    width: 312px;
    height: 18px;
    padding: 12px;
    background-color: transparent;
    border-radius: 8px;
    border: solid 1px #B5C9C9;
    color:#B5C9C9;
    max-width: calc(90vw - 13px);
  }
.styled:focus-visible{
    outline: thick double #17AF78;
    border-color: transparent;
}
.btn.success{
    background-color: #00CF83;
    border: none;
    color: #004949;
}
.btn.success:hover{
    background-color: #74A4A4;
    color: #208587;
}
@media screen and (max-width:480px) {
    .profile-box{
        display: none;
    }
}