{% extends "new_template/base.html" %}


{% block title %}
Grabar
{% endblock title %}


{% block style %}
<style>
    .title{
        text-align: center;
    }
    
    .timer{
        font-size: 40px;
        margin: 0;
    }
    .timer-text{
        font-size: 16px;
        margin-top: 0;
    }
    
    .btn{
        margin: 0 10px;
    }
    .card{
        padding: 35px 0;
    }

    .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label{
        display: block;
        color:  #ACE5C6;
        font-size: 16px;  
        width: 325px;
        padding: 8px 0;
        margin: 5px auto;
        text-align: left;
    }
    .modal-btn-box{
        margin-top: 20px;
    }
    #exit .btn{
        margin: 10px;
        width: 200px;
    }
    dialog .btn{
        color: #ACE5C6;
    }
    
    #processing-content{
        margin: 50px 0;
    }
    #ending-content{
        margin: 20px 0;
    }
    #exit{
        margin: 10px 50px;
    }
</style>
{% endblock style %}


{% block content %}
    <a href="/" class="back">
        <img src="/static/images/back.svg" alt="back">
        <span>Volver</span>
    </a>
    <h1 class="title">Grabar audio</h1>
    <div class="card">
        <img src="/static/images/recording.svg" alt="Grabando" class="recording" hidden> 
        <h2 class="timer">00:00.00</h2>
        <p class="timer-text">Tiempo de grabación</p>
        <p class="timer-text recording" hidden>
                <img src="/static/images/red_point.svg" alt="grabando">
            Grabando
        </p>
        <div id="div-start">
            <button class="btn" onclick="start_record()">
                <img src="/static/images/micro.svg" alt="grabar">
            </button>
            <button class="btn" onclick="location.href='/'">
                <img src="/static/images/repeat.svg" alt="repetir">
            </button>
        </div>
        <div hidden class="recording">
            <button class="btn" onclick="cancel()">
                <img src="/static/images/cancel.svg" alt="cancelar">
            </button>
            <button class="btn" onclick="stop_record()" id="pause">
                <img src="/static/images/pause.svg" alt="pausar">
            </button>
            <button class="btn" onclick="stop_record()">
                <img src="/static/images/check.svg" alt="guardar" > 
            </button>
        </div>
    </div>
{% endblock content %}


{% block modal %}
<dialog>
    <div class="wrap">

        <div id="filename-content" hidden>
            <img src="/static/images/save.svg" alt="guardar">
            <h2>Guarda tu grabación</h2>
            <label for="filename">Nombre de la grabación</label>
            <input class="styled" type="text" name="filename" id="filename">
            <div class="modal-btn-box">
                <button class="btn" onclick="cancel_audio()">Cancelar</button>
                <button class="btn success" onclick="save_file()">Guardar</button>
            </div>
        </div>

        <div id="processing-content" >
            <div class="loader-box">
                <span class="loader"></span>
            </div>
            <h2>Procesando audio</h2>
        </div>

        <div id="ending-content" hidden>
            <img src="/static/images/check_circle.svg" alt="guardar">
            <h2>Audio procesado con éxito</h2>
            <div class="modal-btn-box">
                <button class="btn" onclick="restart_audio()">Grabar otro</button>
                <button class="btn success" onclick="go_audio()">Ir al audio</button>
            </div>
        </div>

        <div id="exit" hidden>
            <img src="/static/images/warning.svg" alt="guardar">
            <h2>¿Estás seguro que quieres salir sin guardar?</h2>
            <p>Si lo haces, no podrás recuperar tu grabación</p>
            <div class="modal-btn-box">
                <button class="btn" onclick="close_modal()">Si, salir sin guardar</button>
                <button class="btn success" onclick="restore_audio()">No, guardar audio</button>
            </div>
        </div>

    </div>
</dialog>
{% endblock modal %}


{% block script %}
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/socket.config.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lamejs/1.2.1/lame.min.js" integrity="sha512-xT0S/xXvkrfkRXGBPlzZPCAncnMK5c1N7slRkToUbv8Z901aUEuKO84tLy8dWU+3ew4InFEN7TebPaVMy2npZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/recordv.0.0.5.js"></script>
<script>
    let mediaRecorder,
        micRecorder,
        speaker_stream,
        mic_stream, 
        init_date,
        interval,
        error = false;

    function open_modal(){
        document.querySelector("dialog").showModal()
    }
    
    function go_audio(){
        let filename = document.getElementById("filename").value;
        location.href = "/player/" + filename + ".mp3";
    }
    
    function close_modal(){
        document.querySelector("dialog").close();
        document.querySelectorAll(".recording").forEach(element => element.hidden = true);
        restore_audio();
    }

    function restore_audio(){
        document.getElementById("filename-content").hidden = false;
        document.getElementById("exit").hidden = true;
    }

    function restart_audio(){
        close_modal();
    }

    function cancel(){
        open_modal();
        cancel_audio();
    }

    function startInterval(){
        init_date = new Date();
        interval = setInterval(()=>{
            let current_date = new Date();
            let diff = current_date.getTime() - init_date.getTime();
            const date = new Date(diff);
            let minutes = date.getMinutes();
            let seconds = date.getSeconds();
            let milliseconds = Math.trunc(date.getMilliseconds()/10);
            if (milliseconds === 0){
                milliseconds = "00"
            }
            if(seconds < 10){
                seconds = "0" + seconds.toString()
            }
            if(minutes < 10){
                minutes = "0" + minutes.toString()
            }
            document.querySelector(".timer").innerText = `${minutes}:${seconds}:${milliseconds}`;
        },100)
    }


    function stopInterval(){
        clearInterval(interval)
    }

    function cancel_audio(){
        document.getElementById("filename-content").hidden = true;
        document.getElementById("exit").hidden = false;
    }

    async function start_record(){
        document.querySelectorAll(".recording").forEach(element => element.hidden = false)
        document.getElementById("div-start").hidden = true;
        socket.connect();
        speaker_stream = await recordScreen();
        mic_stream = await recordMic();
        mediaRecorder = createRecorder(speaker_stream, 'record');
        micRecorder = createRecorder(mic_stream, 'recordMic');
        startInterval();
    }

    function stop_record(){
        stopRecord(mediaRecorder)
        stopRecord(micRecorder)
        open_modal();
        stopInterval();
    }

    function save_file(){
        let filename = document.getElementById("filename").value
        socket.emit('stopRecord', filename)
        document.getElementById("filename-content").hidden = true;
        document.getElementById("processing-content").hidden = false;
    }

    socket.on('success_saving', () => {
        document.getElementById("processing-content").hidden = true;
        document.getElementById("ending-content").hidden = false;
    });


    function stopRecord(recorder){
        if(recorder.state === "recording"){
            recorder.fromBtn = true
            recorder.stop();
        }
    }

    socket.on('error_saving', async () => {
        try{
            await error_handler();
        }catch(error){
            save_error("recorder", error.message);
        }
    });

    
    async function error_handler(){
        let filename = document.getElementById("filename").value;
        if(!error){
            error = true
            await saveFiles(filename)
            retryMedia(filename);
        }else{
            await downloadMedia(filename);
            alert("Ha ocurrido un error, los audios serán descargados en su computadora para que pueda subirlos posteriormente")
            close_modal();
        }
    }

</script>

{% endblock script %}
    
