body{
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    background: #7474bf; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7474bf, #348ac7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7474bf, #348ac7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
main{
    overflow-x: auto;
    display: flex;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.content{
    height: fit-content;
    text-align: center;
    background: #afc3f9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #afc3f9, #d7dde8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #afc3f9, #d7dde8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px 50px;
    border-radius: 10px;
    position: relative;
}
.back{
    position: absolute;
    top:0;
    left:0;
}
.expand:hover{
    cursor: pointer;
    transform: scale(1.1);
}