<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Recorder</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/base.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script>
        function save_error(page, msg){
            const data = new FormData()
            data.append("page",page)
            data.append("error",msg)
            fetch("/save_error",{
                method: "POST",
                body:data
            })
        }
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>