{% extends "base.html" %}
{% block head %}
  <style>
    form{
        text-align: center;
    }
    input{
        display: block;
        margin: 0 auto;
    }
    button{
        margin-top: 10px;
    }
    h1{
        font-size: 30px;
    }
  </style>
{% endblock head %}
{% block content %}
<a href="/" class="back expand" title="back"><img src="/static/back.png" alt="back"></a>

<h1>Cambiar contraseña</h1>
  <form action="" id="my_form">
    <p id="msg"></p>
    <label>
        Nueva contraseña
        <input type="password" name="password" >
    </label>
    <label >
        Repetir nueva contraseña
        <input type="password" name="verify_password">
    </label>
    <button type="button" id="save_btn">Guardar</button>
  </form>
{% endblock content %}
{% block javascript %}
  <script>
    const save_btn = document.getElementById("save_btn"),
        my_form = document.getElementById("my_form");
    save_btn.addEventListener("click", async ()=>{
        const data = new FormData(my_form)
        const request = await fetch("/change_password",{
            method:"POST",
            body: data
        })
        const response = await request.json();
        const msg = document.getElementById("msg")
        msg.innerText = response['msg']
        if(response['response'] === "success"){
            msg.style.color = "#0e8843"
        }else{
            msg.style.color = "#9b0909"
        }

    })
  </script>
{% endblock javascript %}