{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/static/transcript.css">
  <style>
    .delete{
        color:red
    }
    #historyModal{
        width: 85vw;
        max-height: 80vh;
        max-width: 700px;
    }
    #historyContent{
        margin-top: 15px;
    }
    .msg1, .msg2{
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        padding: 10px 0px;
    }
    .msg1{
        justify-content: end;
    }
    .msg2{
        justify-content: initial;
    }
    span.msg{
        border-radius: 10px;
        padding: 10px;
        max-width: 80%;
    }
    .msg1 span{
        background-color: #c4dcf0;
        text-align: right;
    }
    .msg2 span{
        background-color: #cff0c4;
        text-align: left;
    }
  </style>
{% endblock head %}
{% block content %}
    <a href="/" class="back expand" title="back" id="back"><img src="/static/back.png" alt="back"></a>
    <h1>Audios Grabados</h1>
    <div class="audios">
        {% for audio in audios %}
        <a id="audio-{{loop.index}}"   href="#" class="audio-item" onclick="selectAudio('{{loop.index}}')">{{audio}}</a>
        {% endfor %}
    </div>
    
    <div class="transcript">
        <a download href="#" id="audioName"></a> <a href="#" onclick="del_file()" class="expand delete">Eliminar</a>
        <button type="button" class="expand" id="startBtn">Empezar</button>
        <textarea id="transcriptTxt"></textarea>
        <footer>
            <label for="questionTxt">Pregunta a chatGPT</label>
            <textarea id="questionTxt">Hola! Te voy a dar la siguiente conversación para que me digas el tema que tratan y los puntos principales:</textarea>
            <button class="expand" id="historyBtn">Historial</button>
            <button class="expand" id="askBtn">Preguntar</button>
        </footer>    
    </div>
    <dialog id="gptModal">
        <a class="back expand"   title="close Modal" id="closeModalBtn" ><img src="/static/close.png" alt="close"></a>
        <h2>Respuesta</h2>
        <article id="gptResponse">
            <p>Generando...</p>
        </article>
    </dialog>
    <dialog id="historyModal">
        <a class="back expand"   title="close Modal" id="closeModalBtn2" ><img src="/static/close.png" alt="close"></a>
        <div id="historyContent">
            <div class="msg1">
                <span class="msg">
                    message1
                </span>
            </div>
            <div class="msg2">
                <span class="msg">
                    message1
                </span>
            </div>
      
        </div>
    </dialog>
{% endblock content %}
{% block javascript%}
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/socket.config.js"></script>
    <script src="/static/js/gptModalv0.0.2.js"></script>
    
    <script>
        //configure history modal
        const historyModal = document.getElementById("historyModal");
        document.getElementById("closeModalBtn2").onclick = () => historyModal.close();
        document.getElementById("historyBtn").onclick = () => historyModal.showModal();

        // Selecting audio
        let audio, actual_index
        const divAudios = document.querySelector(".audios"),
        divTranscript = document.querySelector(".transcript"),
        backBtn = document.getElementById("back"),
        audioName = document.getElementById('audioName')
        ;
        async function selectAudio(index){
            actual_index = index
            audio = document.getElementById('audio-' + index).innerText;
            audioName.innerText = audio;
            audioName.href = `/download/${audio}`;
            divAudios.style.display = 'none';
            divTranscript.style.display = 'block';
            backBtn.href = "#"
            backBtn.addEventListener("click", getBack, false)
            await loadData()
        }
        async function loadData(){
            const response = await fetch(`/get_prompts?filename=${audio}`)
            const audio_txt = await response.json()
            const audio_data = JSON.parse(audio_txt)
            document.getElementById("transcriptTxt").value = audio_data.conversation
            const historyContent = document.getElementById("historyContent")
            let msg_num = 1
            for(let msg of audio_data.messages){
                historyContent.innerHTML += `
                <div class="msg${msg_num}">
                    <span class="msg">
                        ${msg}
                    </span>
                </div>
                `
                msg_num = msg_num == 1 ? 2 : 1
            }
        }
        function getBack(){
            if(divAudios.style.display === 'block'){
                location.href = "/";
            }else{
                divAudios.style.display = 'block';
                divTranscript.style.display = 'none';
            }
        }
        // Converting audio to text
        const   startBtn = document.getElementById("startBtn"),
                transcriptTxt = document.getElementById("transcriptTxt");
        startBtn.addEventListener("click", ()=>{
            socket.connect()
            socket.emit('startTranscript', {
                model: 'small',
                audio: audio
            });
            startBtn.disabled = true
            startBtn.innerText = "Cargando..."
            startBtn.classList.remove("expand")
        })

        socket.on('response', msg => {
            transcriptTxt.value += msg  +"\n"
        });
        socket.on('end',()=>{
            startBtn.disabled = false
            startBtn.innerText = "Empezar"
            startBtn.classList.add("expand")
            socket.close()
        })

        function del_file(){
            fetch(`/del_file?filename=${audio}`).then(()=>{
                document.getElementById('audio-' + actual_index).remove()
            }).catch(()=>{
                alert("No existe el archivo")
            }).finally(()=> backBtn.click())
        }

    </script>
{% endblock javascript%}