{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/static/transcript.css">
{% endblock head %}
{% block content %}
    <a href="/" class="back expand" title="back" id="back"><img src="/static/back.png" alt="back"></a>
    <h1>Audios Grabados</h1>
    <div class="audios">
        {% for audio in audios %}
        <a id="audio-{{loop.counter}}" href="#" class="audio-item" onclick="selectAudio('{{loop.counter}}')">{{audio}}</a>
        {% endfor %}
    </div>
    
    <div class="transcript">
        <p id="audioName"></p>
        <button type="button" class="expand" id="startBtn">Empezar</button>
        <textarea id="transcriptTxt"></textarea>
        <footer>
            <label for="questionTxt">Pregunta a chatGPT</label>
            <textarea id="questionTxt">Hola! Te voy a dar la siguiente conversación para que me digas el tema que tratan y los puntos principales:</textarea>
            <button class="expand" id="askBtn">Preguntar</button>
        </footer>    
    </div>
    <dialog id="gptModal">
        <a class="back expand"  title="close Modal" id="closeModalBtn" ><img src="/static/close.png" alt="close"></a>
        <h2>Respuesta</h2>
        <article id="gptResponse">
            <p>Generando...</p>
        </article>
    </dialog>
{% endblock content %}
{% block javascript%}
<script src="/static/socket.io.min.js"></script>

    <script>
        // Selecting audio
        let audio
        const divAudios = document.querySelector(".audios"),
        divTranscript = document.querySelector(".transcript"),
        backBtn = document.getElementById("back")
        ;
        function selectAudio(index){
            audio = document.getElementById('audio-' + index).innerText;
            document.getElementById("audioName").innerText = audio;
            divAudios.style.display = 'none';
            divTranscript.style.display = 'block';
            backBtn.href = "#"
            backBtn.addEventListener("click", getBack, false)
        }
        function getBack(){
            if(divAudios.style.display === 'block'){
                location.href = "/";
            }else{
                divAudios.style.display = 'block';
                divTranscript.style.display = 'none';
            }
        }
        // Converting audio to text
        const startBtn = document.getElementById("startBtn"),
        socket = io(),
        transcriptTxt = document.getElementById("transcriptTxt");
        startBtn.addEventListener("click", ()=>{
            socket.emit('startTranscript', {
                model: 'small',
                audio: audio
            });
            startBtn.disabled = true
            startBtn.innerText = "Cargando..."
            startBtn.classList.remove("expand")
        })

        socket.on('response', msg => {
            transcriptTxt.value += msg  +"\n"
        });
        socket.on('end',()=>{
            startBtn.disabled = false
            startBtn.innerText = "Empezar"
            startBtn.classList.add("expand")
        })

        // Modal config
        const gptModal = document.getElementById("gptModal"),
        askBtn = document.getElementById("askBtn"),
        closeModalBtn = document.getElementById("closeModalBtn"),
        questionTxt = document.getElementById("questionTxt"),
        gptResponse = document.getElementById("gptResponse");

        askBtn.addEventListener('click',()=> gptModal.showModal())
        closeModalBtn.addEventListener('click',()=> gptModal.close())

        // Using ChatGPT
        askBtn.addEventListener('click', ()=>{
            gptResponse.innerHTML = '<p>Generando...</p>';
            socket.emit('startChat', {
                conversation: transcriptTxt.value,
                question: questionTxt.value
            });
        })
        socket.on('chatResponse', msg => {
            gptResponse.innerHTML += msg
        })
    </script>
{% endblock javascript%}