{% extends "base.html" %}
{% block head %}
    <style>
        .record {
            margin: 0 5px;

        }

        .record img {
            width: 50px
        }
    </style>
{% endblock head %}
{% block content %}
    <a href="/" class="back expand" title="back"><img src="/static/back.png" alt="back"></a>
    <button id="start" class="record expand" title="play"><img src="/static/play.png" alt="play"></button>
    <button id="stop" class="record expand" title="stop"><img src="/static/stop.png" alt="stop"></button>
{% endblock content %}

{% block javascript%}
    <script src="/static/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io();
        socket.on('connect', function () {
            socket.emit('message', 'working');
        });
    </script>
    <script>
        let start = document.getElementById('start'),
            stopBtn = document.getElementById('stop'),
            mediaRecorder,
            micRecorder

        start.addEventListener('click', async function () {
            let stream = await recordScreen();
            let micStream = await recordMic();
            mediaRecorder = createRecorder(stream, 'video/webm');
            micRecorder = createMicRecorder(micStream)
        })

        stopBtn.addEventListener('click', function () {
            mediaRecorder.stop();
        })

        async function recordScreen() {
            return await navigator.mediaDevices.getDisplayMedia({
                audio: true,
                video: {
                    mediaSource: "screen"
                }
            });
        }
        async function recordMic() {
            return await navigator.mediaDevices.getUserMedia({
                audio: true, // constraints - only audio needed for this app
            })
        }

        function createRecorder(stream, mimeType) {
            // the stream data is stored in this array
            let recordedChunks = [];

            const mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.ondataavailable = function (e) {
                if (e.data.size > 0) {
                    socket.emit('record', e.data);
                    recordedChunks.push(e.data);
                }
            };
            mediaRecorder.onstop = function () {
                //saveFile(recordedChunks);
                recordedChunks = [];
                socket.emit('message', 'stop');
                micRecorder.stop();
            };
            mediaRecorder.start(1000); // For every second the stream data will be stored in a separate chunk.
            return mediaRecorder;
        }

        function createMicRecorder(stream) {
            let recordedChunks = [];

            const mediaRecorder2 = new MediaRecorder(stream);

            mediaRecorder2.ondataavailable = function (e) {
                if (e.data.size > 0) {
                    socket.emit('recordMic', e.data);
                    recordedChunks.push(e.data);
                    console.log(mediaRecorder2.mimeType)
                }
            };
            mediaRecorder2.onstop = function () {
                recordedChunks = [];
            };
            mediaRecorder2.start(1000); // For every second the stream data will be stored in a separate chunk.
            return mediaRecorder2;

        }
    </script>
{% endblock javascript%}